
<files "upload.php">
    order deny,allow
    deny from all
</files>

<files "database.php">
    order deny,allow
    deny from all
</files>


<files "verifyemail.php">
    order deny,allow
    deny from all
</files>
